// use same code background color for PrismJS
$light-color-codebg: #395260;   // 苍黑
$dark-color-codebg: #161b22;    // dark mode github

$dark-color-bg: #0d1117;    // dark mode github
$light-color-primary: #065279;  // 靛蓝
